body {
    background-color: #12A58A;
}

canvas {
    cursor: pointer;
    cursor: hand;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}